{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>DSwan's Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}?{% now 'U' %}">
    </head>
    <body>
        <header>
            <a href="/">Home</a>
            {% if user.is_authenticated %}
            <a href="/dashboard">Dashboard</a>
            {% else %}
            <a href="/signup">Create an Account</a>
            {% endif %}

        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
