{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}?{% now 'U' %}">
    
    <div>
        <select id="filter" name="filter">
            <option value="newest">Recent</option>
            <option value="oldest">Oldest</option>
        </select>
    </div>
    {% for post in posts %}
    <article>
        <div>
            <p>Author: {{ post.author }}</p>
            <time>Published: {{ post.published_date }}</time>
        </div>
        <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr|truncatewords:50 }}</p>
    </article>
    {% endfor %}

    <script>
        window.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const filterValue = urlParams.get("q");
            if (filterValue) {
                document.getElementById("filter").value = filterValue;
            }
        });

        document.getElementById('filter').addEventListener("change", function() {
            const selectedValue = this.value;
            const url = new URL(window.location);
            url.searchParams.set("q", selectedValue);
            window.history.replaceState({}, "", url);
            location.reload();
        })
    </script>
{% endblock %}