{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}?{% now 'U' %}">
    <div class="container">
        <div class="main-content">
            <div class="filter-container">
                <select id="filter" name="filter">
                    <option value="newest">Recent</option>
                    <option value="oldest">Oldest</option>
                </select>
            </div>
            {% if posts.count == 0 %}
                <p>{{ message }}</p>
            {% else %}
            <div class="post-container">
                {% for post in posts %}
                <article>
                    <p>Author: {{ post.author }}</p>
                    <h2><a href="{% url 'blog:post_detail' post.slug %}" id="link_title">{{ post.title }}</a></h2>
                    <p>{{ post.text|safe|linebreaksbr|truncatewords:50 }}</p>
                    <div class="post-stats">
                        <div>
                            <time>{{ post.published_date }}</time>
                            <p><i class="fa-solid fa-thumbs-up"></i>{{ post.number_of_upvotes }}</p>
                            <p><i class="fa-solid fa-eye"></i>{{ post.number_of_views }}</p>
                            <p><i class="fa-solid fa-comment"></i>{{ post.comment_set.all.count }}</p>
                        </div>
                        <div>
                            <button id="share-button">Share</button>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="sidebar">
            <h2>Leaderboard</h2>
            <ul>
                {% for user in leaderboard %}
                    <li>
                        <a href="{% url 'blog:user_profile' user.username %}">
                            <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}'s profile picture">
                            {{ user.username }}
                        </a>
                        <p>Score: {{ user.score }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'blog:category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <h2>Tags</h2>
            <ul>
                {% for tag in tags %}
                    <li><a href="{% url 'blog:tag' tag.slug %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    

    <script>
        window.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const filterValue = urlParams.get("q");
            if (filterValue) {
                document.getElementById("filter").value = filterValue;
            }
        });

        document.getElementById('filter').addEventListener("change", function() {
            const selectedValue = this.value;
            const url = new URL(window.location);
            url.searchParams.set("q", selectedValue);
            window.history.replaceState({}, "", url);
            location.reload();
        })

        const shareButton = document.getElementById('share-button');
        const postTitleLink = document.getElementById('link_title').href;
        shareButton.addEventListener('click', () => {
            if (navigator.share) {
                navigator.share({
                    title: 'My Website', // Optional: Title of the content
                    text: 'Check out this amazing website!', // Optional: Text to accompany the link
                    url: postTitleLink // Required: The URL to share
                })
                .then(() => {
                    console.log('Successfully shared!');
                })
                .catch((error) => {
                    console.error('Error sharing:', error);
                });
            } else {
                console.log('Web Share API not supported');
            }
        });
    </script>
{% endblock %}