{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Sign Up - MLB Fan Blog</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}?{% now 'U' %}">
</head>

<body>
    <div class="container">
        <div class="left-side">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit">Sign Up</button>
            </form>
            <a href="{% url 'login' %}" class="login_link">Have an Account? Sign in</a>
        </div>
        <div class="right-side">

        </div>
    </div>

</body>

</html>