{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/team.css' %}?{% now 'U' %}">

<div class="container">
    <div class="head-content">
        <div class="image-container">
            <img src="{{ team.logo_url }}" alt="Team Logo">
        </div>
        <div>
            <h1>{{ team.name }}</h1>
            <span>{{ team.abbreviation }}</span>
        </div>
        <div>
            <!-- Display total fans associated with dodgers -->
        </div>
    </div>
    <div class="post-container">
        <!-- Display all recent, popular, and oldest posts about the dodgers -->
    </div>
</div>
{% endblock %}